body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  margin: 1vmin;
  padding: 1vmin;
  border: 2px solid black;
  background-color: cornflowerblue;
}

button:hover {
  background-color: lightblue;
}

div {
  height: 4vmin;
  width: 4vmin;
  background-color: white;
}

div.color {
  background-color: black;
}

div.container {
  display: flex;
  flex-wrap: wrap;
  height: 64vmin;
  width: 64vmin;
  border: 5px solid black;
}

p {
  background-color: rgb(23, 65, 32);
}