body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
}

div {
  border: 5px solid black;
}

div.container {
  height: 500px;
  width: 500px;
}