body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
}

div {
  height: 4vmin;
  width: 4vmin;
  background-color: gray;
}

div.color {
  background-color: blueviolet;
}

div.container {
  display: flex;
  flex-wrap: wrap;
  height: 64vmin;
  width: 64vmin;
  background-color: white;
  border: 5px solid black;
}